.navbar__container {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 10%;
    background: rgba(4, 4, 4, 0.5);
    color: white;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    top:0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.collapsible{
    background: rgba(4, 4, 4, 0.5);
    width: 20%;
    margin-left: auto;
}

.cube{
    width: 38px;
    height: 38px;
    margin-right: 20px;
    margin-top: 45px;
    cursor: pointer;
    background-image: url("/src/app/assets/navbar/cube-close.png");
    background-size: 38px 38px;
}

@keyframes rotat{
    0%{transform: rotate(0deg);}
    100% {transform: rotate(180deg);}
}

@keyframes reversrot{
    0%{transform: rotate(180deg);}
    100% {transform: rotate(0deg);}
}

@keyframes mov{
    0%{margin-top: 45px;}
    100% {margin-top: 405px;}
}

@keyframes reversmov{
    0%{margin-top: 405px;}
    100% {margin-top: 45px;}
}

.cubeClose:not(:hover){
    animation: reversrot 1s;
    transform: rotate(0deg);
}

.cubeOpen{
    width: 38px;
    height: 38px;
    margin-right: 20px;
    margin-top: 45px;
    cursor: pointer;
    background-image: url("/src/app/assets/navbar/cube-open1.png");
    transform: rotate(180deg);
    background-size: 38px 38px;
    z-index: 2;
}

.cubeTopDown{
    width: 38px;
    height: 38px;
    margin-right: -38px;
    transform: rotate(180deg);
    animation: mov 0.35s;
    margin-top: 405px;
    background-image: url("/src/app/assets/navbar/cube-open2.png");
    background-size: 38px 38px;
    z-index: 1;
}

.cubeClose{
    width: 38px;
    height: 38px;
    margin-right: 20px;
    margin-top: 45px;
    cursor: pointer;
    background-image: url("/src/app/assets/navbar/cube-open1.png");
    transform: rotate(180deg);
    background-size: 38px 38px;
    z-index: 2;
    animation-delay: 3s;
    background-image: url("/src/app/assets/navbar/cube-close.png");
}

.cubeTopUp{
    width: 38px;
    height: 38px;
    margin-right: -38px;
    transform: rotate(180deg);
    animation: revers 0.35s;
    margin-top: 45px;
    background-image: url("/src/app/assets/navbar/cube-open2.png");
    background-size: 38px 38px;
    z-index: 1;
    animation-delay: 3s;
    opacity: 0;
}

.nav_element {
    width: 100%;
    display: block;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.nav_element:hover {
    background-color: rgba(4, 4, 4, 0.692);
    color: #7ff000;
}

.photos {
    width: 50px;
    margin-right: auto;
}